nav {
    position: fixed;
    z-index: 1000;
    background-color: #417894;
    width: 100vw;
    height: 10vh;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
